
@use "sass:color";

$c-primary: #9A2D29;
$c-secondary: #112D4F;
$c-white: #ffffff;
$c-black: #000000;
$c-light-gray: #E9E9E9;
$c-medium-gray: #CCCCCC;
$c-dark-gray: #171717;

$bp-small: "min-width: 480px";
$bp-medium: "min-width: 768px";
$bp-large: "min-width: 1024px";
$bp-xlarge: "min-width: 1200px";
$bp-xxlarge: "min-width: 1440px";

$spacing-xsmall: 10px;
$spacing-small: 20px;
$spacing-medium: 40px;
$spacing-large: 60px;
$spacing-xlarge: 80px;
$spacing-xxlarge: 100px;

$font-family-base: "Roboto", sans-serif;
$font-family-headlines: "Roboto Condensed", sans-serif;
$font-size-base: clamp(18px, 1.5vw, 24px);

$font-weight-light: 300;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-heavy: 900;

$innerpad: 20px;
$contentWidth: 1329px;

@media ($bp-medium) {
	$innerpad: 40px;
}

@media ($bp-xlarge) {
	$innerpad: 60px;
}

$transition-animation: cubic-bezier(0.4, 0, 1, 1);
$transition-slow: 300ms;
$transition-fast: 150ms;

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

html {
	color: $c-black;
	font-family:  $font-family-base;
	font-weight: $font-weight-normal;
	font-size: $font-size-base;
	line-height: 1.33;
	height: 100%;
	scroll-behavior: smooth;
}

body {
	background: $c-white;
	color: $c-black;
	font-size: $font-size-base;
	height: 100%;
	line-height: 1.33;
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-headlines;
	font-weight: $font-weight-bold;
	margin: 0 0 20px 0;
}

h1 {
	color: #000000;
	font-size: 60px;
	line-height: 0.67;
	text-transform: uppercase;
	letter-spacing: -4.12px;

	@media ($bp-medium) {
		font-size: 96px;
	}

	@media ($bp-xlarge) {
		font-size: 103px;
	}
}

h2 {
	font-size: clamp(40px, 3vw, 58px);
	font-weight: $font-weight-bold;
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: left;
	line-height: 0.9;
}

h3 {
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 10px;
}

h4 {
	font-size: 22px;
	font-weight: 300;
	margin-bottom: 20px;
}

img {
	max-width: 100%;
	height: auto;
}

p,
ul,
ol {
	margin: 0 0 20px 0;
}

ul,
ol {
	padding-left: 20px;
}

ul {
	list-style-type: square;
}

a {
	color:  $c-primary;
	cursor: pointer;
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

strong {
	font-weight: 700;
}

sup {
	bottom: 1ex;
	font-size: .6em;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}


.button {
	background: $c-primary;
	border: 1px solid $c-primary;
	color: $c-white;
	cursor: pointer;
	display: inline-block;
	font-family: $font-family-headlines;
	font-size: $font-size-base;
	font-weight: $font-weight-bold;
	line-height: 1;
	margin: 0;
	outline: none;
	padding: 12px 30px;
	text-align: center;
	text-transform: uppercase;
	transition: $transition-animation $transition-slow;
	width: auto;
	-webkit-font-smoothing: antialiased;
}

.button:hover,
.button:focus {
	background: color.scale($c-primary, $lightness: - 20%);
	border-color: color.scale($c-primary, $lightness: - 20%);
	color: $c-white;
	text-decoration: none;
}

.button--reverse {
	background: $c-white;
	border: 1px solid $c-white;
	color: $c-black;
}

.button--reverse:hover,
.button--reverse:focus {
	background: $c-white;
	border-color: $c-white;
	color: $c-black;
	text-decoration: none;
}


[class*="__inner"] {
  padding-left: $innerpad;
  padding-right: $innerpad;
  max-width: calc( #{$contentWidth} + ( #{$innerpad} * 2 ) );
  margin: 0 auto;
}

[class*="__inner--full-width"] {
  max-width: 1600px;
}

.hide-for-mobile {
	@media (max-width: 767px) {
		display: none !important;
	}
}


.lp-header {
	background: $c-white;
	height: 80px;

	@media ($bp-large) {
		height: 140px;
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;

		@media ($bp-medium) {
			justify-content: space-between;
		}
	}

	&__logo {

		img {
			width: 250px;
			padding-top: 6px;

			@media ($bp-large) {
				width: 300px;
				padding-top: 10px;
			}
		}
	}

	&__nav-items {
		align-items: center;
		display: none;
		list-style: none;
		margin: 0;
		padding: 0;

		@media ($bp-medium) {
			display: flex;
		}
	}

	&__nav-item {
		font-weight: $font-weight-bold;
		display: inline-flex;
		align-items: center;
		
		svg {
			margin-right: 8px;
			position: relative;
			top: 6px;
		}
	}

	&__nav-item a {
		font-weight: $font-weight-bold;
		color: $c-black;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			color: $c-black;
		}
	}
}


.lp-hero {
	background: url("./images/hero-background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 40px 0;
	text-align: center;
	color: $c-white;
	position: relative;

	@media  ($bp-medium) {
		padding: 60px 0;
	}

	@media ($bp-large) {
		padding: 80px 0 120px;
	}

	@media ($bp-xxlarge) {
		padding: 100px 0 180px;
	}

	&::before {
		background: rgba(0, 0, 0, 0.54);
		background-blend-mode: multiply;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
	}

	& > * {
		position: relative;
		z-index: 1;
	}

	&__eyebrow {
		font-family: $font-family-headlines;
		font-size: clamp(20px, 1.5vw, 32px);
		font-weight: $font-weight-bold;
		margin-bottom: 16px;
		text-transform: uppercase;
	}

	&__title {
		color: $c-white;
		line-height: 0.8;
		max-width: 900px;
		margin: 0 auto 32px;
	}

	&__subtitle {
		font-family: $font-family-headlines;
		font-size: clamp(20px, 3vw, 32px);
		text-transform: uppercase;
		font-weight: $font-weight-bold;
	}

	&__description {
		max-width: 820px;
		margin: 10px auto 40px;
		font-weight: $font-weight-light;
	}

	&__ctas {
		display: flex;
		flex-direction: column;
		gap: 10px;
		justify-content: center;
		align-items: center;

		@media ($bp-medium) {
			flex-direction: row;
			gap: 100px;
		}
	}

	&__cta {
		display: block;
		background: rgba(0, 0, 0, 0.24);
		background-blend-mode: multiply;
		padding: 50px 10px 25px;
		border-top: 1px solid $c-white;
		border-bottom: 1px solid $c-white;
		width: 300px;
		transition: $transition-animation $transition-fast;

		&:hover {
			text-decoration: none !important;
			background: rgba(0, 0, 0, 0.44);
		}


		@media ($bp-large) {
			padding: 90px 50px 45px;
			width: 500px;
		}
	}

	&__cta-title {
		font-size: clamp(40px, 1.5vw, 65px);
		font-weight: $font-weight-bold;
		text-transform: uppercase;
		font-family: $font-family-headlines;
		color: $c-white;
		margin-bottom: 8px;
		text-align: center;
		text-decoration:none !important;
	}

	&__cta-description {
		color: $c-white;
		font-weight: $font-weight-normal;
		margin-bottom: 20px;
		font-size: clamp(18px, 3vw, 30px);

		@media ($bp-large) {
			margin-bottom: 40px;
		}
	}

	&__cta-action {
		width: 30px;

		@media ($bp-large) {
			width: 57px;
		}
	}
}

.lp-alternating-feature {
	padding: 40px 0;

	@media ($bp-medium) {
		padding: 60px 0;
	}

	@media ($bp-xlarge) {
		padding: 80px 0;
	}

	&__inner {
		display: flex;
		flex-direction: column;

		@media ($bp-medium) {
			flex-direction: row;
			gap: 60px;
		}

		@media ($bp-large) {
			gap: 80px;
		}
	}

	&__title {
		font-size: clamp(40px, 3vw, 58px);
		font-weight: $font-weight-bold;
		text-align: center;
		margin-bottom: 20px;
		text-transform: uppercase;
		text-align: left;
		max-width: 650px;
		line-height: 0.9;

	}

	&__description {
		font-weight: $font-weight-light;
		max-width: 800px;

		@media ($bp-medium) {
			text-align: left;
		}
	}

	&__media {
		order: 1;

		@media ($bp-medium) {
			order: 2;
			width: 35%;
		}

		img {
			max-width: 250px;

			@media ($bp-medium) {
				max-width: 100%;
			}
		}
	}

	&__content {
		order: 2;

		@media ($bp-medium) {
			order: 1;
			width: 65%;
			padding-top: 40px;
		}
	}
}


.lp-truck-interactive {
	padding: 0 0 80px;

	@media ($bp-medium) {
		padding: 0 0 120px;
	}

	@media ($bp-xlarge) {
		padding: 0 0 160px;
	}

	&__scroller {
		overflow-x: auto;
	}

	&__canvas {
		min-width: 800px;
		position: relative;
		height: 100%;
		aspect-ratio: 1174 / 545;

	}

	&__image {
		max-width: 100%;
		display: block;
		margin: 0 auto;
		position: absolute;
		z-index: 1;
		transition: opacity 0.3s ease-in-out;

		&.image-variant {
			z-index: -1;
			opacity: 0;
		}

		&.active {
			z-index: 2;
			opacity: 1;
		}
	}

	&__hotspots {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
	}

	&__hotspot  {
		position: absolute;
		display: flex;
		align-items: stretch;
		justify-content: center;

		button {
			background: $c-black;
			color: $c-white;
			height: 30px;
			width: 30px;
			font-size: 20px;
			border: none;
			outline: none;
			box-shadow: none;
			cursor: pointer;

			@media ($bp-large) {
				height: 50px;
				width: 50px;
				font-size: 40px;
			}
		}

		span {
			background: $c-black;
			padding: 0 12px 0 8px;
			color: $c-white;
			font-family: $font-family-headlines;
			font-size: clamp(12px, 1.5vw, 16px);
			display: flex;
			opacity: 0;
			visibility: hidden;
			align-items: center;
			text-transform: uppercase;
			line-height: 1;
			height: 30px;
			transition: 0.3s ease-in-out;

			@media ($bp-large) {
				height: 50px;
			}
		}

		&--active {
			button {
				background: $c-primary;
			}

			span {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__lower {
		position: relative;
		padding: 40px 0;
		border-bottom: 1px solid $c-black;
	}

	&__actions {
		display: flex;
		flex-direction: column;
		gap: 10px;
		position: relative;


		@media ($bp-large) {
			flex-direction: row;
			gap: 16px;
			justify-content: center;

		}
	}

	&__action {
		display: flex;
		align-items: center;
		gap: 4px;
		width: 100%;
		max-width: 440px;
		margin: 0 auto;


		.button {
			font-size: clamp(16px, 3vw, 22px);
			font-weight: $font-weight-normal;
			padding: 6px 16px;
			width: 100%;
			min-height: 36px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
		}

		.button--reverse {
			border: 1px solid $c-black;
			padding: 6px 16px;
			text-transform: initial;
		}

		svg {
			transform: rotate(0deg);
			transition: transform 0.3s ease-in-out;

			&.rotated {
				transform: rotate(90deg);
			}
		}
	}

	&__customizations {
		font-size: clamp(16px, 3vw, 22px);
		font-weight: $font-weight-light;
		max-width: 1000px;
		padding: 40px 20px 0;
		display: none;

		@media ($bp-medium) {
			padding: 60px 40px 0;
		}
	}

	&__customizations-wrap {
		display: flex;
		flex-direction: column;

		
		@media ($bp-large) {
			flex-direction: row;
			gap: 32px;
			justify-content: center;
		}
	}

	&__customizations-items {
		padding-left: 0;
		list-style: none;
		margin: 0;

		@media ($bp-large) {
			width: 50%;
		}
	}

	&__customizations-item {
		margin-bottom: 16px;

		&.item--red {
			color: $c-primary;
			font-family: $font-family-headlines;
			font-weight: $font-weight-bold;
		}
	}
}

.lp-carousel {
	padding: 40px 0 120px;
	background-image: url('./images/boom-image.png');
	background-repeat: no-repeat;
	background-position: 100% 20%;

	@media ($bp-medium) {
		padding: 60px 0 160px;
		background-position: 100% 0%;
	}

	@media ($bp-xlarge) {
		padding: 80px 0 240px;
	}

	&__description {
		font-weight: $font-weight-light;
		max-width: 800px;	
	}

	&__flag {
		display: flex;
		justify-content: flex-end;

		span {
			font-size: clamp(16px, 3vw, 22px);
			font-weight: $font-weight-light;
			text-transform: uppercase;
			font-family: $font-family-base;
			color: $c-white;
			padding: 8px 24px;
			background: $c-secondary;
		}
		
	}

	&__items {
		margin-top: 50px;
		margin-left: -15px;
		margin-right: -15px;

		@media ($bp-large) {
			margin-left: -30px;
			margin-right: -30px;
		}
	}

	&__item {
		border-top: 1px solid $c-black;
		border-bottom: 1px solid $c-black;
		padding: 20px 10px 20px;
		background: rgba(255, 255, 255, 0.69);
		margin: 0 15px;

		@media ($bp-large) {
			margin: 0 30px;
		}
	}

	.slick-dots {
		bottom: -60px;
		display: flex;
		align-items: center;
		gap: 5px;
		justify-content: center;

		li {
			display: inline-block;
			height: 5px;
			width: 40px;
			background: #d9d9d9;

			&.slick-active {
				background: $c-secondary;
			}

			button::before {
				display: none;
			}

			@media ($bp-large) {
				width: 80px;
			}
		}
	}

	&__item-tag {
		font-size: clamp(16px, 3vw, 20px);
		font-weight: $font-weight-bold;
		text-transform: uppercase;
		margin-bottom: 10px;
		font-family: $font-family-headlines;
		color: $c-primary;
	}

	&__item-description {
		font-weight: $font-weight-bold;
		font-family: $font-family-headlines;
		text-transform: uppercase;
		font-size: clamp(20px, 3vw, 34px);
		margin-bottom: 10px;
		line-height: 1;
	}

	&__item-price {
		font-size: clamp(20px, 3vw, 34px);
		font-weight: $font-weight-heavy;
		margin-bottom: 10px;
		color: $c-primary;
	}

	&__item-action {
		width: 100%;
	}
}


.lp-background-callouts {

	&__inner {
		max-width: 100%;
		display: flex;
		flex-direction: column;
		padding: 0;

		@media ($bp-large) {
			flex-direction: row;
		}
	}

	&__item {
		color: $c-white;
		flex: 1;
		padding: 40px;
		text-align: center;

		@media ($bp-medium) {
			padding:60px 80px;
			
		}

		@media ($bp-large) {
			padding: 80px 120px;
			width: 50%;
		}

		&:nth-child(odd) {
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.66) 0%, rgba(0, 0, 0, 0.66) 100%), linear-gradient(0deg, rgba(1, 1, 1, 0.11) 0%, rgba(1, 1, 1, 0.11) 100%), url("./images/background-image-cards-1.png") lightgray 0px -201.143px / 200% 156.691% no-repeat;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			position: relative;
		}

		&:nth-child(even) {
			background: linear-gradient(rgba(80, 109, 133, 1), rgba(80, 109, 133, 1)), url('./images/background-image-cards-2.png');
			background-blend-mode: multiply;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			
			.lp-background-callouts__item-description {
				max-width: 500px;
			}
		}
	}

	&__item-title,
	&__item-description {
		max-width: 660px;
		margin: 0 auto;
	}

	&__item-title {
		font-size: clamp(36px, 3vw, 58px);
		font-weight: $font-weight-bold;
		text-transform: uppercase;
		margin-bottom: 20px;
		text-align: center;
	}

	&__item-description {
		font-weight: $font-weight-light;
		margin-bottom: 30px;
	}
	
	&__item-image {
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
	}
}

.lp-filmstrip {

	img {
		display: block;
	}
}

.lp-footer {
	background-color: $c-dark-gray;
	color: $c-white;
	padding: 40px 0;

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 20px;

		@media ($bp-medium) {
			flex-direction: row;
			justify-content: space-between;
			text-align: left;
		}
	}

	&__logo {
		img {
			width: 200px;

			@media ($bp-medium) {
				width: 250px;
			}

			@media ($bp-large) {
				width: 380px;
			}
		}
	}
}


.modal {
	position: relative;
	z-index: 999;
	display: none;

	&__overlay {
		position: fixed;
		inset: 0;
		background: rgba(0, 0, 0, 0.65);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px;
	}

	&__content {
		position: relative;
		width: 100%;
		max-width: 690px;
		background: $c-secondary;
		box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.3);
		padding: 40px 40px 60px;
	}

	&__close {
		position: absolute;
		top: 16px;
		right: 16px;
		background: transparent;
		border: none;
		background: $c-white;
		color: $c-black;
		cursor: pointer;
		padding: 4px;
		height: 30px;
		width: 30px;
		transition: background 0.2s;
		font-size: 24px;
		line-height: 1;
	}

	&__close:hover {
		background: rgba(255, 255, 255, 0.2);
	}

	&__title {
		color: $c-white;
		font-size: 32px;
		font-weight: $font-weight-bold;
		margin-bottom: 8px;
	}

	&__subtitle {
		color: $c-white;
		font-size: clamp(18px, 3vw, 24px);
		margin-bottom: 24px;
		font-weight: $font-weight-light;
	}

	.form-group {
		margin-bottom: 24px;
	}

	label {
		display: block;
		color: white;
		font-size: 14px;
		margin-bottom: 8px;
	}

	input,
	textarea {
		width: 100%;
		padding: 16px 20px;
		border: none;
		font-size: 18px;
		color: $c-black;
		background: $c-white;
		font-family: $font-family-base;
	}

	input::placeholder {
		color: $c-black;
	}

	input:focus {
		outline: none;
	}

	.ready-to-go {
		margin-top: 24px;
	}

	&__button {
		width: 100%;
		margin-top: 40px;
	}
}

body.no-scroll {
	overflow-y: hidden;
}